# dotenv
.env

# virtualenv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache

# coverage
.coverage
htmlcov/

# testing py
test.py
